<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Tasky</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<center>
		<h1>Tasky</h1>
		<br>
		<br>
		<h3>For testing purposes only! This REST API is connected to an Angular front-end at https://github.com/oxygenplug/productivity-app</h3>
	</center>


	{{!--
	<button type="submit" id="myButton">Get my task</button> --}} {{{ body }}}


</body>

</html>