<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Tasky</title>
	<link rel="stylesheet" href="css/superslides.css" type="text/css">

	<link rel="stylesheet" href="css/style.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<div id="slides">
		<div class="overlay"></div>
		<div class="slides-container">
			<img src="img/1.png" alt="">
			<img src="img/2.png" alt="">
			<img src="img/3.png" alt="">
			<img src="img/4.png" alt="">
			<img src="img/5.png" alt="">
			<img src="img/6.png" alt="">
			<img src="img/7.png" alt="">
			<img src="img/8.png" alt="">
			<img src="img/9.png" alt="">
			<img src="img/10.png" alt="">
			<img src="img/11.png" alt="">
			<img src="img/12.png" alt="">
			<img src="img/13.png" alt="">
			<img src="img/14.png" alt="">
			<img src="img/15.png" alt="">

		</div>
		<nav class="slides-navigation">
			<a href="#" class="next"></a>
			<a href="#" class="prev"></a>
		</nav>
	</div>



	</div>

	<div>
		<h2>This is a REST AP for testing purposes only! The Angular frontend repository can be found
			<a href="https://github.com/rosariorussell/Tasky-angular-frontend">HERE</a>
		</h2>
	</div>


	{{!--
	<button type="submit" id="myButton">Get my task</button> --}} {{{ body }}}
	<script src="js/jquery.superslides.min.js"></script>

	<script src="js/script.js"></script>

</body>

</html>