<h2>Register</h2>

{{!--
<form action="/users" method="post"> --}}
  <form>

    Email:
    <input type="text" name="email" id="email-field">

    <br> Password:
    <input type="text" name="password" id="password-field">

    <br>

    <input type="submit" value="Register" id="myButton">
  </form>

  <script>
    $(function () {
      $("#myButton").on("click", function (event) {
        event.preventDefault()
        $.ajax("/users", {
          type: "POST",
          data: {
            email: $("#email-field").val().trim(),
            password: $("#password-field").val().trim()
          },
          success: function(data, status, xhr) {
            var auth = xhr.getResponseHeader('x-auth')
            localStorage.setItem("x-auth", auth)
            // console.log(localStorage.getItem("x-auth"))
            window.location.href = '/'
          }
        })
      }
      )
    })
  </script>